### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
myprojectenv
venv
myproject.sock
tests/__pycache__
src/__pycache__
.project
.pydevproject
.idea
.settings
