<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="stylesheet" href="static/normalise.css"/>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX1jmcW1cZiqkj3sK8ICOzqkTCl7lp7yg&callback=initialise"
  type="text/javascript"></script>
</head>
<body>
    <div class="m-wrapper">
	    <div id="map" class="mapping">
	    	<!-- map goes here -->
	    </div>
	</div>
	<script type="text/javascript">
   		// set up IIFE, only exposing the parts we want to be globally accessible
   		(function(global){
   			// set up maps module
   			var MapsModule = (function(){
   				// allow referencing of the entire maps module
   				var self = this;

   				// private object property, available to the MapsModule
   				var settings = {
   					"map": document.getElementById("map"),
   				}
				
   				// private method
				function setUpMap(){
					
					var map;

					// insert the google map object
				    map = new google.maps.Map(settings.map, {
						center: {lat: 53.3474000259898, lng: -6.259202954653347},
						zoom: 13
			        });

				}

				function getMapData(){
					var xmlhttp = new XMLHttpRequest();
					var url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=5a523b8e0346cd6360130dd031e990283bfb9c8b";

					xmlhttp.onreadystatechange = function () {
						if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
							document.getElementById("response").innerHTML = (xmlhttp.response);
						}
					}
					xmlhttp.open("GET", url, true)
					xmlhttp.send()
				}

				// public exposed properties
				return {
					init: function(phrase){
						// set up the map
						setUpMap();
					},

					addMarkers: function(json){
						// add each marker to the map
						/*
						for each item in json
							add marker to the map
							add info box
							add marker listeners for charted data
						end for
						*/
					}
				}
			}())

   			// initialise the application
   			global.initialise = function(){
   				MapsModule.init();
   			}
   		}(window));
   	</script>
   	
</body>
</html>