<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/normalise.css" />
    <link rel="stylesheet" href="static/css/main.css" />

    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX1jmcW1cZiqkj3sK8ICOzqkTCl7lp7yg&callback=initialise" type="text/javascript"></script>
    
    <script src="/static/superagent/superagent.js"></script>
   
    
    <!-- <script src="static/js/handlebars/dist/handlebars.runtime.js"></script> -->
    <!-- <script src="static/js/templates.js"></script> -->
    <script src="static/js/helpers.js"></script>
    <script src="static/js/Timer.js"></script>
    <script src="static/js/CacheModule.js"></script>
    <script src="static/js/BikesModule.js"></script>
    <script src="static/js/MapsModule.js"></script>
</head>

<body>

    <script type="text/javascript">
    
        function GoToURL(form)
        {		
		    var url = form.station.options[form.station.selectedIndex].value;
			   
    		window.location = url;
    		
		}
		
        // initialise the application
        var initialise = function () {
            MapsModule.init(document.getElementById("map"));
        }
        BikesModule.getStationHistoricalInformation(101, 0);

        // window.addEventListener('popstate', function(e) {
        //   var state = PageModule.getState();
        //   console.log(state);
        //   if (state) {
        //     PageModule.gotoPage(state);
        //     PageModule.setState(history.state);
        //   } else {
        //     if (history.state) {
        //       console.log(history.state);
        //       PageModule.gotoPage(history.state);
        //     }
        //   }

        // });
        
        
    </script>
    {% include "partials/header.html" %}
    <div id="wrapper" class="m-wrapper">
        <div id="map" class="mapping">
            <!-- map goes here -->
        </div>
    </div>
</body>

</html>