$BackgroundGrey: #525659;
$ButtonPrimary: #50A9B9;
$NumberPrimary: #7EDFE8;
$Graph: #F0F7E7;
$DropDownPrimary: #D8D8D8;
$DropDownBorder: #979797;	
$LogoBlue:	#0084C1;
$GraphBlue: #9CBABA;
$GraphPurple: #811BD6;