body, html{
    height:100%;
}

*{
	box-sizing: border-box;
}

body{
	font-family: $text-primary;


body{
	font-family: $text-primary;
} 

button{
	width: 10%;
	border-radius: 1em;
	background-color: $ButtonPrimary;
	padding: 1em;
	color: white;
}

select {
	width: 50%;
	background-color: $DropDownPrimary;
	text-align: center;
	padding: 1em;
	margin: 1em;
	box-sizing: border-box;
	border: 0.2em solid grey;
	border-radius: 0.5em;
}
header{
	margin-left: 1em;

	}

header img{
    width: 100px;
    height: 100px;
}

header div, img{
	width: 50%;
	display: inline-block;
	margin-top: 1em;
}

header h1{
	margin: 0em;
}

#map{
	padding:2%;
}

.container {
	display:flex;
}

#leftHeader{
	width:50%;
	padding:5%;
	float:left;
}

#leftHeader ul{
	display: inline-block;
	list-style: none;
	padding:1%;
	margin:1%;
	
}

#leftHeader li{
	font-size:1em;
}
#statVariable{
	font-size:1.3em;
	text-align:center;
	color:deepskyblue;
}

#rightHeader{
	width:50%;
	padding:5%;
}

#piechart{
	width:300%;
	height:300%;
}

}

.m-wrapper{
	height:100%;
}

.mapping{
	height:100%;
	width:100%;
	background:#ccc;
}

#dropdown_container{
	height: 200px;
	overflow-y: scroll;
	direction: rtl;
}

#dropdown_content{
	direction: lrt;
	float: left;
}

#dropdown_content li{
	//float: left;
}

ul{
	list-style-type: none;
}
 ul a{
 	text-decoration: none;
 }

#rightHeader p{
	font-weight: 600;
	font-size:1em;
}