body, html{
    height:100%;
}

*{
	box-sizing: border-box;
}

.m-wrapper{
	height:100%;
}

.mapping{
	height:100%;
	width:100%;
	background:#ccc;
}

body{
	font-family: $text-primary;
} 


button{
	border-radius: 1em;
	background-color: $ButtonPrimary;
}

#dropdown{
	border: 0.5em, solid $DropDownBorder;
}


header img{
    width:20px;
    height: 20px;
}


body{
	font-family: $text-primary;
}

#header{
	padding:2%;
}

#map{
	padding:2%;

}

#leftHeader{
	height:25%;
	width:25%;
	padding:5%;
	float:left;
}

#leftHeader ul{
	display: inline-block;
	list-style: none;
	padding:1%;
	margin:1%;
	
}

#leftHeader li{
	font-size:1em;
}
#statVariable{
	font-size:1.3em;
	text-align:center;
	color:deepskyblue;
}

#rightHeader{
	width:25%;
	width:25%;
	padding:5%;
	float:right;
}

